.container {
  margin-top: 20vh;
  background-image: url("../img/backgroudForm.jpg");
  background-position: center;
  background-repeat: repeat-x;
  background-attachment: fixed;
}

.form__input {
  clear: left;
}
