@import url("colors.css");

.search {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search__label {
  color: #5576E3;
  font-size: 1.1em;
}

.search__input {
  border: none;
  border-bottom: #ddd 2px solid;
  font-size: 1.1em;
}

.search__input:focus {
  border-bottom: #5576E3 2px solid;
}

.search__buttons{
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#randomEvent, #refresh{
  width: 20%;
  height: 10%;
  margin: 30px 20px;
}

#find{
  padding: 10px 50px;
  font-size: 1.1em;
  margin-left: 10px;
}

.events {
  margin: 40px 100px;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  -webkit-column-gap: 100px;
  column-gap: 100px;
  -webkit-row-gap: 60px;
  -moz-row-gap: 60px;
  row-gap: 60px;
}

.box {
  position: relative;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  min-height: 300px;
  margin-top: 5%;
  padding: 15px;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.box:hover {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15),
    0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15),
    0 10px 10px hsla(0, 0%, 0%, 0.22);
}

.box__date {
  color: #5576E3;
}

.box__place {
  color: #5576E3;
  font-weight: normal;
}

.box__members {
  font-weight: 100;
  opacity: .6;
}

.button{
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  background-color: #fff;
  color: #5576E3;
  border: #5576E3 2px solid;
  padding: 10px;
  -webkit-transition: color .5s ease-in-out,
  background-color .5s ease-in-out;
  transition: color .5s ease-in-out,
  background-color .5s ease-in-out;
}

.button:hover {
  color: #fff;
  background-color: #5576E3;
}

.box__button {
  position: absolute;
  bottom: 30px;
  left: 20px;
  margin-top: 5%;
  width: 100px;
}

.choosen__box{
  border: 3px #5576E3 solid;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

@media only screen and (max-width: 700px) {
  .events {
    margin: 20px;
  }

  #randomEvent,
  #refresh {
    width: 40%;
    height: 20%;
    margin: 30px 20px;
  }
}