@import url("colors.css");

.footer {
  position: absolute;
  width: 100%;
  left: 0;
  background-color: #5576E3;
  color: #fff;
  margin: 0;
  padding: 2% 10%;
  opacity: 0.8;
}

.footer__links {
  left: 30%;
}

.footer__links a {
  display: block;
  margin-bottom: 5px;
  font-size: .8em;
}

.footer__links a:link {
  color: #fff;
}

.footer__links a:visited {
  color: #000;
}

.footer__table {
  border: none;
  position: absolute;
  right: 20%;
  top: 30%;
}

@media screen and (max-width: 1000px){
  .footer__table {
    right: 5%;
    top: 30%;
    font-size: .8em;
  }
}