@import url("colors.css");

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 20vh;
  padding: 10px 10%;
  background-color: #fff;
}

.header__link {
  text-decoration: none;
}

.header__box {
  float: left;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}

.header__img {
  padding: 30px;
}

.header__title__main {
  font-family: 'Fugaz One', cursive;
  color: var(--blue);
}

.header__title__main {
  margin-bottom: 0;
}

.header__title__sub {
  margin: 0;
  color: var(--black);
}

.nav {
  float: right;
  height: 100%;
  margin: 10px 0;
  list-style-type: none;
}

.nav__list {
  padding: 0;
}

.nav__element {
  display: inline-block;
  padding: 20px;
  border-bottom: transparent 4px solid;
  -webkit-transition: border-bottom .4s ease-in-out;
  transition: border-bottom .4s ease-in-out;
}

.nav__element:last-child {
  border: #5576E3 2px solid;
  border-bottom-color: #5576E3;
  border-radius: 10px;
  -webkit-transition: background-color .4s ease-in-out;
  transition: background-color .4s ease-in-out;
  margin-left: 5px;
}

.nav__element:hover {
  border-bottom: #5576E3 2px solid;
}

.nav__element:last-child:hover {
  background-color: #5576E3;
}

.nav__element:last-child:hover .nav__link {
  color: #fff;
}

.nav__element--active {
  border-bottom: #5576E3 2px solid;
}

.nav__link {
  text-decoration: none;
  color: #5576E3;
  font-weight: 600;
  -webkit-transition: color .4s ease-in-out;
  transition: color .4s ease-in-out;
}

@media only screen and (max-width: 1300px) {
  .header {
    padding: 10px 2%;
  }
}

@media only screen and (max-width: 1100px) {
  .header {
    height: 30vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .nav {
    margin: 0;
  }
}