.container__welcome{
  width: 100%;
  text-align: center;
  background-color: rgb(14, 221, 228);
}

.container__welcome__text{
  margin-top: 30px;
  color: #fff;
  text-shadow: 2px 2px #5576E3;
  font-family: 'Fugaz One';
  font-size: 2em;
  font-weight: 400;
}

.article {
  width: 98vw;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 6% 8%;
}

.article:first-of-type {
  padding-top: 2%;
}

.article__text {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 5%;
}

.article__paragraph {
  width: 100%;
}

.article:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.article__img {
  width: 50%;
  height: auto;
}

.article__button {
  margin-top: 10%;
  width: 150px;
  font-weight: 700;
  font-size: 1.1em;
  text-align: center;
  border: none;
  border: #5576E3 3px solid;
  padding: 15px;
  -webkit-transition: color .5s ease-in-out,
    background-color .5s ease-in-out;
  transition: color .5s ease-in-out,
    background-color .5s ease-in-out;
}

.article__button:hover {
  background-color: #5576E3;
}

.article__button * {
  text-decoration: none;
  color: #5576E3;
}

.article__button:hover * {
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width:1100px) {

  .article,
  .article:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .article:first-child {
    padding-top: 0;
  }

  .article__text {
    width: 80%;
  }

  .article__img {
    width: 100%;
    height: auto;
  }

  .article h2,
  .article p {
    text-align: center;
  }

  .article__button {
    margin-top: 10px;
  }
}