body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  margin-top: 20vh;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 1150px) and (min-width:750px) {
  body {
    margin-top: 35vh;
  }
}